@media screen and (max-width: 768px){
    #login{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 600px;
    }
    #login > #img{
        background-position: center top;
        background-size: cover;
        width: 100%;
    }
    #login > #formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 40px 0px;
    }
}